<div class="col-lg-7 space">
  <div class="row">
    <!--- user comment box start -->

    <div class="col-lg-7">
      <div class="user-comment-box">
        <% unless @photo.blank? %>
          <%= form_for :rating, url: ratings_path, remote: true, html: {id: 'rating_form'} do |f| %>
            <%= hidden_field_tag :photo_id, @photo.id%>
            <div class="row text-center space" id="star"></div>
          <% end %>
        <% end %>
        <div class="row space">
                <div class="widget-box ">
                    <div class="widget-header">
                        <h4 class="lighter smaller"><i class="icon-comment blue"></i>Comment about this look:</h4>
                    </div>
                    <div class="widget-body">
                      <div class="widget-main no-padding">
                          <div style="position: relative; overflow-y: scroll; width: auto; height: 340px;" class="slimScrollDiv"><div style="overflow: hidden; width: auto;" class="dialogs">
                            <div class="itemdiv dialogdiv">
                              <div class="user">
                                <img alt="Alexa's Avatar" src="/assets/avatars/avatar1.png">
                              </div>
                              <div class="body">
                                <div class="time"><i class="icon-time"></i> <span class="green">4 sec</span></div>
                                <div class="name"><a href="#">Alexa</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis. </div>
                                <div class="tools">
                                  <a href="#" class="btn btn-minier btn-info"><i class="icon-only icon-share-alt"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="itemdiv dialogdiv">
                              <div class="user">
                                <img alt="John's Avatar" src="/assets/avatars/avatar.png">
                              </div>
                              <div class="body">
                                <div class="time"><i class="icon-time"></i> <span class="blue">38 sec</span></div>
                                <div class="name"><a href="#">John</a></div>
                                <div class="text">Raw denim you probably haven't heard of them jean shorts Austin.</div>
                                <div class="tools">
                                  <a href="#" class="btn btn-minier btn-info"><i class="icon-only icon-share-alt"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="itemdiv dialogdiv">
                              <div class="user">
                                <img alt="Bob's avatar" src="/assets/avatars/user.jpg">
                              </div>
                              <div class="body">
                                <div class="time"><i class="icon-time"></i> <span class="orange">2 min</span></div>
                                <div class="name"><a href="#">Bob</a> <span class="label label-info arrowed arrowed-in-right">admin</span></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis. </div>
                                <div class="tools">
                                  <a href="#" class="btn btn-minier btn-info"><i class="icon-only icon-share-alt"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="itemdiv dialogdiv">
                              <div class="user">
                                <img alt="Jim's Avatar" src="/assets/avatars/avatar4.png">
                              </div>
                              <div class="body">
                                <div class="time"><i class="icon-time"></i> <span class="muted">3 min</span></div>
                                <div class="name"><a href="#">Jim</a></div>
                                <div class="text">Raw denim you probably haven't heard of them jean shorts Austin.</div>
                                <div class="tools">
                                  <a href="#" class="btn btn-minier btn-info"><i class="icon-only icon-share-alt"></i></a>
                                </div>
                              </div>
                            </div>                                                
                            <div class="itemdiv dialogdiv">
                              <div class="user">
                                <img alt="Alexa's Avatar" src="/assets/avatars/avatar1.png">
                              </div>
                              <div class="body">
                                <div class="time"><i class="icon-time"></i> <span class="green">4 min</span></div>
                                <div class="name"><a href="#">Alexa</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                <div class="tools">
                                  <a href="#" class="btn btn-minier btn-info"><i class="icon-only icon-share-alt"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="itemdiv dialogdiv">
                              <div class="user">
                                <img alt="Jim's Avatar" src="/assets/avatars/avatar4.png">
                              </div>
                              <div class="body">
                                <div class="time"><i class="icon-time"></i> <span class="muted">3 min</span></div>
                                <div class="name"><a href="#">Jim</a></div>
                                <div class="text">Raw denim you probably haven't heard of them jean shorts Austin.</div>
                                <div class="tools">
                                  <a href="#" class="btn btn-minier btn-info"><i class="icon-only icon-share-alt"></i></a>
                                </div>
                              </div>
                            </div>
                          </div><div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 46px; opacity: 0.4; display: none; border-radius: 7px 7px 7px 7px; z-index: 99; right: 1px; height: 227.336px;" class="slimScrollBar ui-draggable"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px 7px 7px 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
                          <% unless @photo.blank? %>
                            <%= form_for :comment, url: comments_path, remote: true, html: {id: 'comment_form'} do |f|%>
                              <%= hidden_field_tag :photo_id, @photo.id%>
                              <div class="form-actions input-group">
                                <input type="text" placeholder="Type your message here ..." class="col-lg-9" name="message">
                              
                              <%= f.submit 'Send', :class => "btn btn-small btn-info no-radius"%>
                              </div>
                            <% end %>
                          <% end %>
                        </div><!--/widget-main-->
                      </div><!--/widget-body-->
                    </div>
                  </div>
                </div>
              </div>
<!--- user photo column -->
            <%# if user_signed_in? %>
              <div class="col-lg-5">
                <a class="btn" style="margin: 35px;"><img src="/assets/next.png" /></a>
              </div>
            <%#else%>
                <div class="col-lg-5">
                  <p><%#= link_to ('<strong><u>Sign</u> <u>In</u></strong><br> to post your photo for advise !').html_safe ,new_user_session_path, :class => "btn btn-lg btn-primary col-lg-12 signin_bttn" %></p>
                    <p><%#= link_to ('<strong><u>Sign</u> <u>Up</u></strong><br> (its free !)').html_safe,new_user_registration_path, :class => "btn btn-lg btn-primary col-lg-12 signin_bttn" %></p>
                </div>
            <%# end %>
            </div>
          </div>
          <div class="col-lg-5 space">
            <div class="image_section text-center">
                <% if @photo.blank? %>
                  <h4>(Currently No image available)</h4>
                <% else %>
                  <%= image_tag(@photo.photo_url(:thumb))%>
                <% end %>
              </div>
          </div>
  <script type="text/javascript">
    $(document).ready(function () {    
      <% unless flash[:notice].blank? %>
        $.gritter.add({
          title: 'Confirmation',
          text: '<%= flash[:notice] %>',
          image: '/assets/confirm.jpg',
          sticky: false, 
          time: 8000,
        });
      <% end %>
      
      $('#star').raty({
        path     : '/assets', 
        size     : 67,
        starHalf : 'star-half-big.png',
        starOff  : 'star-off-big.png',
        starOn   : 'star-on-big.png',
        click: function(score, evt) {
          $("#rating_form").submit();
        }
      });
    });
  </script>
