<!DOCTYPE html>
<html>
<head>
  <title>Hipster - Nation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<!--- Header start -->
  <header>
    <%= render :partial => "layouts/header" %>
  </header>
  <!--- Middle container start -->     

<div class="container">
  <div class="col-lg-10">
    <div class="row space">
      <%= yield%>
    </div>   
  </div>      
            
            
    <div class="col-lg-2 space text-center">
      <div class="space"></div>
      <div class="ad-space">
        <h3>AD<br /> Space</h3>
      </div>
      <div class="ad-space">
        <h3>AD<br /> Space</h3>
      </div>
      <div class="ad-space">
        <h3>AD<br /> Space</h3>
      </div>
    </div>

</div>
    
  <!--- footer start -->
  
<footer></footer>

</body>
</html>
